extends layout

block content
  header
    a(href="/")
      img(src="/logo.svg")

  .container
    if submitted && success
      .toast.success
        h2 Thank you for submitting this issue!
        p Please keep continuing!
    if submitted && !success
      .toast.failure
        h2 Something went wrong :(
        p We're sorry.

    .form-container
      h1 Campaign finished
      p The foxfooding campaign is now over. If you have found more bugs, please report them <a href="http://tinyurl.com/jzfyrkwe">here</a> (Bugzilla account required).
      
  footer
    a(href="https://mozilla.org")
      img(src="https://www.mozilla.org/media/protocol/img/logos/mozilla/white.612a25fa976b.svg")
    p Portions of this content are ©1998–2021 by individual mozilla.org contributors. Content available under a <a rel="license" href="https://mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
    ul
      li
        a(href="/privacy/") Privacy
      li
        a(href="/privacy/websites/") Website Privacy Notice
      li
        a(href="/privacy/websites/#cookies") Cookies
      li
        a(href="/about/legal/") Legal
      li
        a(href="/about/governance/policies/participation/") Community Participation Guidelines
