extends layout

block content
  header
    a(href="/")
      img(src="/logo.svg", alt="Firefox Nightly Logo")

  .container
    if submitted && success
      .toast.success
        h2 Thank you for submitting this issue!
        p Please keep continuing!
    if submitted && !success
      .toast.failure
        h2 Something went wrong :(
        p We're sorry.

    .form-container
      h1 Report a bug - Foxfooding for Android and iOS

      form(action="/create", method="POST", enctype="multipart/form-data")
        label Fields marked with <span>*</span> are required. Please make sure to file this form on the device you're testing on. This allows us to correct version and the window size.
        div(class="input-group")
          label(for="firefox") Firefox Version&nbsp;<span>*</span><br><span class="field-note">(please check the pre-filled value and adjust if necessary)</span>
          input(id="firefox", type="text", name="firefox", required, placeholder="for example: Firefox 88 / Windows")
        div(class="input-group")
          label(for="resolution") Window Size&nbsp;<span>*</span>
          input(id="resolution", type="text", name="resolution", required, placeholder="for example: 1200x800")
        div(class="input-group")
          label(for="phone") What phone are you using?&nbsp;<span>*</span>
          input(id="phone", type="text", name="phone", required, placeholder="for example: Samsung Galaxy S10")
        h2 Issue Description
        div(class="input-group")
          label(for="summary") Short summary&nbsp;<span>*</span>
          input(id="summary", type="text", name="summary", required)
        div(class="input-group")
          label(for="reproduce") <strong>Steps to reproduce&nbsp;<span>*</span></strong> - Write down everything you did immediately before you arrived at the bug as clearly as possible
          textarea(name="reproduce", required, placeholder="1) Did ...\n2) Clicked on ...\n3) etc..")
        div(class="input-group")
          label(for="expected") <strong>Expected behavior&nbsp;<span>*</span></strong> - What were you hoping/expecting Firefox to do?
          textarea(name="expected", required)
        div(class="input-group")
          label(for="actual") <strong>Actual behavior&nbsp;<span>*</span></strong> - What was the actual result, what did Firefox actually do?
          textarea(name="actual", required)
        div(class="input-group")
          label(for="attachment") Add a screenshot/recording of what you see
          input(id="attachment", type="file", accept="image/*,video/*", name="attachment")
        div(class="input-group")
          label(for="github") Your GitHub account name if you have one
          input(id="github", type="text", name="github")
        button(type="submit") Create Issue

  footer
    a(href="https://mozilla.org")
      img(src="https://www.mozilla.org/media/protocol/img/logos/mozilla/white.612a25fa976b.svg")
    p Portions of this content are ©1998–2021 by individual mozilla.org contributors. Content available under a <a rel="license" href="https://mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
    ul
      li
        a(href="/privacy/") Privacy
      li
        a(href="/privacy/websites/") Website Privacy Notice
      li
        a(href="/privacy/websites/#cookies") Cookies
      li
        a(href="/about/legal/") Legal
      li
        a(href="/about/governance/policies/participation/") Community Participation Guidelines