doctype html
html(lang='en-US')
  head
    title Cookie Banner Handling - Report Issues
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Zilla+Slab|Fira+Sans')
    link(rel='shortcut icon', type='image/png', sizes="196x196", href='/favicon.png')
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes")

  body
    block content
    script(src="/client.js")
    script(async, src="https://www.googletagmanager.com/gtag/js?id=G-2FSLCNZQRJ")
    script.
      if (navigator.doNotTrack !== '1') {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-2FSLCNZQRJ');
      }
